.title {
    letter-spacing: .23rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.title::after {
    content: '';
    display: block;
    background-color: var(--cyan);
    width: 50px;
    height: 2px;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .title::after {
        margin-left: calc(50% - 25px);
    }
}