.main-header__title {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 6em;
    letter-spacing: 5.70937px;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0;
}
