.signUp__input {
    height: 40px;
    border: none;
    padding: 0;
    flex: 2 1 0;
}

.signUp__input::placeholder {
    padding-left: 1em;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .signUp__input {
        max-width: 300px;
        min-width: 200px;
    }
}
