.signUp__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .signUp__inner {
        flex-wrap: wrap;
        align-items: flex-start;
        row-gap: 1.5em;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 320px) {
    .signUp__inner {
        justify-content: center;
    }
}