.signUp__label {
    color: var(--white);
    font-size: 22px;
    flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
    .signUp__label {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .signUp__label {
        font-size: 2rem;
    }
}