.services__text {
    font-size: 1.1rem;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .services__text {
        flex-grow: 1;
        min-width: 200px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .services__text {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .services__text {
        font-size: 11px;
    }
}