.services__text {
    font-size: 1.1rem;
    flex: 3 1 0;
}

@media screen and (max-width: 1024px) {
    .services__text {
        min-width: 200px;
        font-size: 11px;
    }
}

@media screen and (max-width: 768px) {
    .services__text {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .services__text {
        width: 100%;
    }
}