.about__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    .about__body {
        justify-content: center;
    }
}