.about__body {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .about__body {
        flex-direction: column;
        justify-content: center;
    }
}