.about__info {
    text-align: start;
    width: 40%;
    max-width: 80%;
}

@media screen and (max-width: 1024px) {
    .about__info {
        flex-grow: 1;
    }
}

@media screen and (max-width: 768px) {
    .about__info {
        text-align: center;
        align-items: center;
    }
}