.contacts__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 40px;
    padding-bottom: 10%;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .contacts__inner {
        text-align: center;
    }
}