.contacts__inner {
    padding: 40px 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.contacts__inner > *:not(:last-child) {
    margin-right: 2em;
}

@media screen and (max-width: 768px) {
    .contacts__inner {
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .contacts__inner > *:not(:last-child) {
        margin-right: unset;
        margin-bottom: 2rem;
    }

    .contacts__inner {
        text-align: center;
    }
}