.contacts__item:first-child {
    flex-basis: 120px;
}

@media screen and (max-width: 768px) {
    .contacts__item:last-child,
    .contacts__item:first-child
     {
        flex-grow: 1;
    }
}

@media screen and (max-width: 320px) {
    .contacts__item {
        width: 100%;
    }
}


