.button {
    text-transform: uppercase;
    color: var(--white);
    width: 150px;
    height: 40px;
    padding: 11px auto;
    border: none;
    background-color: var(--cyan);
    size: 13px;
    white-space: nowrap;
}