.burger__bar {
    width: 43px;
    height: 5px;
    background-color: var(--grey);
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 2px);
    right: 0;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    display: none;
    transition: .5s ease-in-out;
}

.burger__bar::before {
    content: '';
    display: block;
    position: relative;
    z-index: 2;
    bottom: 8px;
    width: 43px;
    height: 5px;
    background-color: var(--grey);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    transition: .5s ease-in-out;
}


.burger__bar::after {
    content: '';
    display: block;
    position: relative;
    z-index: 2;
    top: 3px;
    width: 43px;
    height: 5px;
    background-color: var(--grey);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    transition: .5s ease-in-out;
}

#burger[type="checkbox"]:checked ~ .burger__bar {
    transform: rotate(45deg);
}

#burger[type="checkbox"]:checked ~ .burger__bar::before {
    transform: rotate(90deg);
    bottom: 0;
}

#burger[type="checkbox"]:checked ~ .burger__bar::after {
    transform: rotate(90deg);
    top: -4px;
}


@media screen and (max-width: 768px) {
    .burger__bar {
        display: inline-block;
    }
}