
.page {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
    font-size: 12px;
    --white: white;
    --grey: #48555B;
    --lightGrey: #E6E6E6;
    --cyan: #00A4E5;
    --lightBlue: #16ACE8;
    --black: black;
    --deepBlue:  #141A20;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: unset;
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 10px;
    }
}